@using Compass.Report.ViewModels
@model List<ProductReportVM>

<h2 class="text-center">Product Report</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MainCategory</td>
                    <td>@item.Title</td>
                    <td>@item.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-danger">No Data Found</p>
}
